{# @var password string #}

{% extends "emails/layout.html.twig" %}

{% block body %}
    <p>
        {% trans %}Your password was successfully changed to{% endtrans %} "{{ password }}".
    </p>
{% endblock %}