{# @var user \App\Domain\User\User #}

{% extends "emails/layout.html.twig" %}

{% set url = host_name ~ path('profile.reset_password_confirmation', { hash: user.restoreLinkHash, id: user.id }) %}

{% block body %}
    <p>
        {% trans %}To reset your password please use the link {% endtrans %}
        <a href="{{ url }}" target="_blank">{{ url }}</a>.
    </p>

    <p>
        {% trans %}The link is active during 1 hour{% endtrans %}.
    </p>
{% endblock %}
